* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 98.9vw;
  text-align: center;
  overflow: hidden;
  &__background {
    width: 100%;
    & img {
      width: 98.9vw;
    }
  }
}
