.horizontal-card {
  height: 12vw;
  width: 90%;
  margin: 1vw 0;
  box-shadow: 2px 2px 5px black;
  padding: 1vw;
  border-radius: 8px;
  position: relative;
  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__image {
      height: 100%;
      width: 25%;
      display: flex;
      justify-content: center;
      align-items: center;
      & img {
        width: 80%;
      }
    }
    &__product-description {
      height: 100%;
      width: 50%;
      padding: 1vw;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      &__title {
        font-size: 1.5rem;
        font-weight: 400;
        font-family: $main-font-family;
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
      &__quantity,
      &__ref {
        color: #0c193a;
        font-size: 12px;
      }
    }
    &__price-buttons {
      height: 100%;
      width: 25%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      &__price {
        font-size: 2.5vw;
        color: #ec5326;
        font-weight: 600;
        line-height: 33px;
      }
      &__buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 50%;
        width: 75%;
        &__button-add {
          background-color: #29b9ad;
          color: #0c193a;
          border: none;
          height: 55%;
          width: 100%;
          border-radius: 5px;
          transition: background-color 0.8s;
          &:hover {
            background-color: #1b7d75;
            cursor: pointer;
          }
        }
        &__button-delete {
          color: #29b9ad;
          border: solid 1px #29b9ad;
          background-color: #fff;
          height: 35%;
          width: 100%;
          border-radius: 5px;
          transition: background-color 0.8s, color 0.8s;
          &:hover {
            background-color: #29b9ad;
            color: #0c193a;
            cursor: pointer;
          }
        }
      }
    }
  }
}
