.product-card {
  background-color: white;
  width: 13.3vw;

  height: 18.6vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 2px lightgray;
  margin: 0 1%;
  &__content {
    width: 11vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    &__img {
      width: 9vw;
      margin: 10px 0;
      align-self: center;
    }
    &__title {
      height: 40px;
      line-height: 18.3333333333px;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 14px;
      font-weight: 600;
      font-family: $main-font-family;
      text-align: left;
      color: #0c193a;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    &__reviews-img {
      width: 70%;
      margin-left: -5px;
      margin-bottom: 5px;
    }
    &__price-favorite {
      display: flex;
      justify-content: space-between;
      height: 30px;
      width: 100%;
      overflow: hidden;
      &__price {
        display: flex;
        justify-content: flex-start;
        font-weight: bold;
        color: #0c193a;
        font-size: 1.5rem;
        height: 100%;
        &__euro {
          line-height: 28px;
          font-size: 0.9rem;
        }
      }
      &__favorite-purchased {
        width: 55px;
        height: 25px;
        margin-top: 5px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        &__favorite {
          width: 25px;
          height: 100%;
          & img {
            width: 100%;
          }
          &__red-heart {
            display: none;
          }
          &:hover {
            cursor: pointer;
            &
              .product-card__content__price-favorite__favorite-purchased__favorite__empty-heart {
              display: none;
            }
            &
              .product-card__content__price-favorite__favorite-purchased__favorite__red-heart {
              display: block;
            }
          }
        }
        &__purchased {
          width: 25px;
          height: 100%;
          &__icon {
            width: 100%;
            font-size: 1.5rem;
            color: #4aaea1;
          }
        }
      }
    }
  }
}
