.products {
  text-align: center;
  position: relative;

  &__background {
    width: 100%;
  }
  &__transparent {
    position: absolute;
    top: 1.5vh;
    right: 8vw;
    width: 8vw;
    height: 7vh;
    background-color: transparent;
    cursor: pointer;
  }
  &__drop-down-active {
    position: absolute;
    top: 4.5vw;
    right: 6vw;
    width: 10vw;
    height: 10.65vw;
    opacity: 0;
    background-color: white;
    border-radius: 10px;
    color: #1e3c87;
    animation: appear 0.5s forwards;
  }
  &__drop-down-inactive {
    display: none;
  }
  &__drop-down__div {
    text-align: left;
    height: 2vw;
    font-size: 1vw;
    padding: 0.5vw 0.8vw;
    cursor: pointer;
  }
  &__drop-down__div:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  &__drop-down__wish {
    text-align: left;
    border-bottom: 2px solid #1e3c87;
    padding: 0.5vh 0.8vw 2vw 0.8vw;
    height: 2vw;
    font-size: 1vw;
    cursor: pointer;
  }
  &__drop-down__wish:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  &__drop-down__log-out {
    padding-top: 0.5vw;
    cursor: pointer;
    height: 2vw;
    font-size: 1vw;
  }
  &__drop-down__log-out:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  &__item {
    position: absolute;
    left: 12%;
    right: 14%;
    height: 6%;
    display: flex;
    justify-content: flex-start;
    background-color: transparent;

    &.recentlySeen {
      top: 12.25%;
    }

    &.topSells {
      top: 20.4%;
    }
  }
}
