@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Open+Sans:wght@600&display=swap");

$main-font-family: "Open Sans", sans-serif;
$main-text-color: #0c193a;
$logo-color: #29b9ad;
$bg-color: #fafafa;
