.wishlist {
  width: 60%;
  display: flex;
  align-items: center;

  &__containerProduct {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $bg-color;
    flex-wrap: wrap;
    margin-bottom: 2vw;
  }
}
