.wishlistPage {
  background-color: #fafafa;
  &__logo {
    position: absolute;
    top: 0;
    left: 1vw;
    width: 12vw;
    height: 7vh;
    background-color: transparent;
    cursor: pointer;
  }
  &__img {
    width: 100%;
  }
  &__container {
    margin-top: 25px;
    display: flex;
    justify-content: center;

    &--left {
      width: 25%;
    }
    &--right {
      width: 50%;
    }
  }
}
